.listParameter{
    display: grid;
    align-items: center;
    grid-template-columns: 200px 150px  100px;
}
input{
    height: 40px;
    padding-left: 5px;
    font-family: arial;
    font-size: 16px;
    margin-right: 20px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 6px;
}
.addButton{
    background-color: rgb(2, 163, 2);
    border: none;
    color: white;
    width: 100px;
    height: 40px;
    cursor: pointer;
    font-size: 17px;
}
.deleteButton{
    background-color: rgb(255, 40, 40);
    color: white;
    border: none;
    width: 100px;
    height: 40px;
    font-size: 17px;
    margin-right: 0;
    cursor: pointer;
}
.list{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 200px 150px 100px;
    align-items: center;
    font-size: 20px;
    max-width: 500px;
}